.section-services_card_content_btn_link  { 
    color: #fff;
    font-size: 20px;
    padding: 15px 45px;
    text-align: center;
}
@media  (min-width:280px) and (max-width:320px) { 
    .section-services_card_content_btn_link {
        padding: 0px;
    }
}
@media (min-width: 540px) and (max-width: 731px) { 
    .section-services_card_content_btn_link  { 
        padding: 10px;
        font-size: 16px;
    }
}
@media (min-width: 732px) and (max-width: 1023px) { 
    .section-services_card_content_btn_link  { 
        padding: 10px;
        font-size: 16px;
    }
}
@media (min-width: 321px) and (max-width: 409px) {
    .section-services_card_content_btn_link {
        padding: 0px;
    }
    .section_swiper a {
        font-size: 14px;
        padding: 10px;
    }
    .section-services_img {
        margin-left: 40%;
    }
    .section-services_card_content_btn {
        margin-left: 30%;
    }
}
@media (min-width: 410px) and (max-width: 539px) { 
    .section-services_card_content_btn_link {
        padding: 0px;
    }
    .section_swiper a {
        font-size: 14px;
        padding: 10px;
    }
    .section-services_img {
        margin-left: 40%;
    }
    .section-services_card_content_btn {
        margin-left: 30%;
    }
}